/* Drink Detail Styling */

#drinkDisplay {
  text-align: center;
}

#drinkImg {
  margin: 2rem;
  margin-bottom: -2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.detailBox {
  margin-bottom: 20px;
  height: 1000px;
  border: 1px solid gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 1px 11px -3px black;
}

#ingredients {
  margin-left: 20px;
  margin-right: 20px;
}

.padding {
  padding-right: 5%;
  padding-left: 5%;
}

/* End of Drink Detail Styling */

/* Image Preview Styling */

.card-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  height: 200px;
  width: 200px;
}

.previewCard {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1220px) {
  .card-image {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 992px) {
  .card-image {
    height: 250px;
    width: 250px;
  }
}

/* End of Image Preview Styling */

#title {
  border: 1px solid #3c4043;
  background-color: white;
  margin: auto;
  width: 60%;
  padding: 10px;
}

#titleHeader {
  background: white;
  color: black;
  padding: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
}

#info {
  border: 1px solid #3c4043;
  background-color: white;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
}

.paragraph1 {
  background: white;
  color: black;
  padding: 10px;
  text-align: center;
}

#searchBar {
  overflow: hidden;
  background-color: white;
  border: 1px solid #3c4043;
  margin-top: 10px;
  width: 30%;
  margin-left: 35%;
  margin-bottom: 20px;
}

.searchBar1 {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  color: black;
  text-align: center;
}